.block {
	border: 0px solid #ccc;
	padding: 0 0;
	box-shadow: none;
	background: transparent;
	border-radius: 0px;
	border: 0px solid #e8eaeb;
}


.block input[type="text"]+input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.block button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.block .header {
	
	padding: 10px 10px;
	padding-right: 0px;
	background: transparent;
	border-bottom: 0px solid #e8eaeb;
}

.block.hidden .header {
	border-bottom: 0px;
}


.block .header .title h2:after {
	content: "";
    background: url([[pix:theme|footerborder]]) repeat-x;
    height:30px;
    display:block;
    margin-right:10px;
    margin-top: 20px;
}



/* block titles */
.block .header .title h2 {
	font-weight: normal;
	margin: 0 0;
	padding: 30px 0px 10px 0px;
	text-transform: none;
	font-size: 1.8em;
	color: #002f67;
	margin: 0px 0px;
	font-weight:bold;
	text-shadow: none;
    font-family: 'dearjoe3', sans-serif;
    line-height:45px;
    text-align:center;
}


@media (max-width: 979px){

    .block .header .title h2 {
   
    font-size: 1.1em;
}
}

@media (max-width: 767px){

    .block .header .title h2 {
   
    font-size: 1.8em;
}
}


.block .content {
	padding: 10px 10px;
	font-weight: normal;
	font-size: 90%;
	background: [[setting:maincolour]];
	color: #333;
}

.block .content a {
    color: #333;
}

.block .header .block_action {
	margin: 0 0;
	margin-top: -5px;
}

.block_login .c1.btn input {
	display: block;
	margin: 10px auto;
	text-align: center;
	width: 96%;
}

.block .block-hider-show, .block .block-hider-hide {
	width: 18px;
}

/** some specific block styles for calendar block, login block, my profile block, etc. **/

.block_calendar_month table.minicalendar.calendartable td,.block_calendar_month table.minicalendar.calendartable th {
    border: none !important;
}

.block_calendar_month table.minicalendar {
    margin-bottom: 0px !important;
}

.block_calendar_month table.minicalendar.calendartable th abbr {
    border: none !important;
    text-decoration: none;
}

.block_comments div.content li {
    list-style-type: none;
}

.questionbankwindow.block {
	padding: 0px;
}

.block_tree_box hr {
	background: transparent;
	border: none;
	border-top: 1px solid #eee;
}

/*quiz editing block header */
#page-mod-quiz-edit .questionbankwindow div.header {
	background-color: #eee;
	color: inherit;
}

#page-mod-quiz-edit .questionbankwindow div.header a {
	color: inherit;
}

.block .content a.dimmed {
    font-style: italic;
}

#mod_quiz_navblock input {
    white-space: normal;
}

.loginbox .loginform .form-input input {
    width: 50%;
}

.loginbox .loginform .form-input {
    float: right;
    width: 66%;
}

.loginbox .loginform .form-label {
	width: 33%;
}

.block.invisible:hover {
    opacity: 1;
}

.block .block-hider-show, .block .block-hider-hide {
    width: 12px;
}

body.has_dock div#dock {
	z-index: 3;
}

a.dimmed, a.dimmed:link, a.dimmed:visited, a.dimmed_text, a.dimmed_text:link, a.dimmed_text:visited, .dimmed_text, .dimmed_text a, .dimmed_text a:link, .dimmed_text a:visited, .usersuspended, .usersuspended a, .usersuspended a:link, .usersuspended a:visited, .dimmed_category, .dimmed_category a {
	color: #999;
}

.block_myprofile.block {
    text-align: center;
}

.block_myprofile img.profilepicture {
    height: 100px;
    width: 100px;
    border-radius: 150%;
    border: 3px solid #fff;
    margin-bottom: 15px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}