.courses .coursebox.even, .courses .coursebox {
	background: #ffffff !important;
	border-radius: 6px;
}

.courses .coursebox.even {
	background: #ffffff !important;
}

.coursebox > .info > .coursename a {
	font-weight: normal;
	font-size: 80%;
}

.coursebox > .info > h3.name, .course_category_tree .category > .info .name {
    font-size: 120%;
    font-weight: normal;
    margin: 0;
}

.coursebox .content {
	clear: none;
}

.coursebox {
	padding: 0 0;
	border: 0px;
	border-radius: 0px;
}

#page .course-content ul li.section.main {
	border: 1px solid #e8eaeb;
	margin-bottom: 20px;
}

.site-topic ul.section, .course-content ul.section {
	margin: 0em 1em;
}

#newdiscussionform {
	text-align: center;
}

#searchforums {
	margin: 5px 0px 5px 5px;
}



.path-mod-forum .forumheaderlist thead .header {
   font-family: dearjoe3;
    background: #272f38;
    color:#fff;
    padding-top:10px;
    padding-bottom:10px;
}

.forumpost .subject {
    font-family: dearjoe3;
}

#page-mod-forum-discuss .forumpost .row .options .commands a {
 background: #272f38;   
    color:#fff;
}

#page-mod-forum-discuss .forumpost .row .options .commands {
    color: #fff;
   
}


body#page-mod-forum-view img.userpicture.defaultuserpic {
    border-radius: 150%;
    border: 3px solid #fff;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    width: 25px;
    height: 25px;
    margin-top: 3px;
}

td.topic.starter {
    padding-top: 8px;
    padding-bottom: 10px;
}

td.topic.starter a:before {
   font-family: FontAwesome;
    content:"\f0e5";
    padding-right: 10px;
    padding-left:10px;
    font-size:30px;
}

td.lastpost {
    font-size: 0.8em;
}

td.author {
    
    padding-top: 9px;
}

td.replies {
    
    padding-top: 9px;
}

td.replies a {
    border: 3px solid #fff;
    border-radius: 150%;
    padding-left: 6px;
    padding-right: 6px;
    background: #000;
    color: #fff;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}


.course-content .current {
    background-color: transparent;
    border-left: 0px solid #ccc;
    border-right: 0px dashed #ccc;
    margin-top: 0px !important;
}

.panel-body {
	overflow: hidden;
}

.panel-body .courseimage img {
    float: right;
    margin-bottom: 10px;
    max-width: 60px;
    margin-left: 5px;
}
/*
.panel .summary {
	position: relative;
}
*/
.course-content ul li.section .side {
	display: none;
}

.editing .course-content ul li.section .side {
	display: inherit;
}

.course-content ul.topics li.section .content, .course-content ul.weeks li.section .content {
	margin: 0 0;
}

.editing .course-content ul.topics li.section .content, .editing .course-content ul.weeks li.section .content {
	margin: 0px 20px;
}

.course-content ul li.section.main {
	margin: 0 0;
	padding-top: 12px;
}

h3.sectionname {
    background: #fff;
    color: #5f588a;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: -12px;
    padding: 20px;
}

.section .activity .mod-indent-outer {
    padding-left: 23px;
}

.path-course-view .completionprogress {
    color: #666;
    float: none;
    font-size: 90%;
    padding: 0 0 10px;
}

#gridshadebox_content .content .summary, #gridshadebox_content .content ul.section {padding: 0 20px;}


.courseheaderbg {
    padding-top: 15px;
    padding-bottom: 5px;
    height: 180px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #5bc1d1;
}


.courseheaderinner {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.courseheaderinner h1{
    font-family: dearjoe3;
    color:#fff;
    background:[[setting:pageheaderbgcolor]];
    padding:15px 0px 5px 10px;
    
}


.headinnerwrap {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}


.glossaryexplain {
    text-align: center;
    font-weight: bold;
    color:#000;
}


.glossarydisplay a {
    border: 1px solid #000;
    padding: 3px 6px 3px 6px;
    border-radius: 7px;
    line-height: 30px;
    background:#272f38;
    color:#fff;
    font-weight:bold;
    
}

.glossarydisplay  {
   color:#fff;
}


body#page-mod-glossary-view td.entry {
   color:#000;
   
}

body#page-mod-glossary-view td.entry a{
   color:#000;
    background:none;
    border-radius: 0px;
}

body#page-mod-glossary-view td.entry a{
    border:none;
}

body#page-mod-glossary-view td.icons a {
    background: none;
    border: none;
}

.glossarycontrol {
    display: none;
}


.entrybox hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
    
    background: #fff url([[pix:theme|footerborder]]) repeat-x;
    margin: 10px 0px 0;
    text-align: left;
    border-top: 0px;
    font-size: 110%;
    height:20px;
}

#page-mod-glossary-view table.glossarycategoryheader {
   
    color: #000;
}

#page-mod-glossary-view table.glossarycategoryheader h3 {
    font-size: 24px;
    border: 1px solid #000;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
}



.path-calendar .maincalendar .calendar-controls .current {
    
   font-family: 'dearjoe3';
}


.course_category_tree .category>.info {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background: none;
    border: 0px solid #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 0;
    padding: 0;
    margin: 3px 0;
    margin-bottom: 3px;
    clear: both;
}


.courses .coursebox.collapsed {
    border: none;
    padding: 12px;
    background: none;
    margin-bottom: 6px;
}


.courses .coursebox.even, .courses .coursebox {
    background: none;
    border-radius: 0px;
}


.courses .coursebox {
    background: none;
    border-radius: 0px;
}

/* Choice Activity multichoice radio buttons */

body#page-mod-choice-view input[type="radio"]:empty {
    display: none
}
body#page-mod-choice-view input[type="radio"]~label {
    position: relative;
    line-height: 3.5em;
    cursor: pointer;
    padding-left: 30px;
    font-weight: bold;
}
body#page-mod-choice-view input[type="radio"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 10;
    height: 45px;
    content: '';
    width: 2.5em;
    background: #fff;
    border: 1px dashed #cdcdcd;
    margin-left: -25px;
}
body#page-mod-choice-view input[type="radio"]:checked ~ label:before {
    content: '✔';
    text-indent: .9em;
    color: #fff;
    background-color: #272f38;
    margin-left: -25px;
}
/* Choice Activity multichoice check list buttons for when more than one answer can be selected*/

body#page-mod-choice-view input[type="checkbox"]:empty {
    display: none
}
body#page-mod-choice-view input[type="checkbox"]~label {
    position: relative;
    line-height: 3.5em;
    cursor: pointer;
    padding-left: 30px;
    font-weight: bold;
}
body#page-mod-choice-view input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 10;
    height: 45px;
    content: '';
    width: 2.5em;
    background: #fff;
    border: 1px dashed #cdcdcd;
    margin-left: -25px;
}
body#page-mod-choice-view input[type="checkbox"]:checked ~ label:before {
    content: '✔';
    text-indent: .9em;
    color: #fff;
    background-color: #272f38;
    margin-left: -25px;
}
body#page-mod-choice-view.path-mod-choice .horizontal .choices .option {
    display: block
}
/* Choice Activity teacher results link now looks like a button */

body#page-mod-choice-view .reportlink a {
    background: #272f38;
    text-shadow: none;
    color: #fff;
    border: none;
    padding: 15px;
    box-shadow: none;
}
/* Choice Activity submit now matches all other buttons */

body#page-mod-choice-view input[type=submit] {
    background: #272f38;
    text-shadow: none;
    color: #fff;
    border: none;
    padding: 15px;
    box-shadow: none;
    margin-left: -15px;
}
/* Choice Activity results user pic is rounded */

body#page-mod-choice-view .userpicture {
    border-radius: 150px
}
body#page-mod-choice-view #region-main h2 {
    padding: 20px
}
body#page-mod-choice-view #region-main h3 {
    font-size: 1.4em;
    margin-top: 40px;
    display: block;
    margin-bottom: 40px;
    padding-left: 100px;
}
body#page-mod-choice-view #region-main h3:before {
    font-family: FontAwesome;
    content: "\f140";
    font-size: 50px;
    position: absolute;
    margin-left: -60px;
}
#yourselection {
    display: none
}





/* Quiz CSS -----*/
/* The main nav block used witihn quiz questions */

div#mod_quiz_navblock {
    background: #fff;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* The header for the quiz nav block */

div#mod_quiz_navblock .header h2 {
    font-size: 25px;
    line-height: 50px;
}
/* Adds the icon to the quiz nav block */

div#mod_quiz_navblock .header h2:before {
    font-family: FontAwesome;
    content: "\f0dd";
    font-size: 40px;
    margin-right: 13px;
}
/* Quiz attempts shown as a funky round button */

#page-mod-quiz-view .quizattemptcounts,
.dir-rtl #page-mod-quiz-view .quizattemptcounts {
    display: block;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #000;
    max-width: 200px;
    text-align: center;
    border-radius: 150px;
    height: 110px;
    vertical-align: middle;
    padding-top: 90px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    font-size: 2em;
    font-weight: bold;
}
/* Quiz timer shown as a funky round button */

#quiz-timer {
    margin-top: 1em;
    border: 1px solid #000;
    text-align: center;
    border: 1px solid #000;
    max-width: 200px;
    text-align: center;
    border-radius: 150px;
    height: 130px;
    vertical-align: middle;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    font-size: 2em;
    font-weight: bold;
    line-height: 30px;
}
#page-mod-quiz-edit li.activity.page:before {
    display: none;
}
/* The info panel next to the quiz questions during a quiz */

.que .info {
    background: none;
    border-right: 1px solid #dcdcdc;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
/* Question number in quiz  */

.que h3.no {
    font-size: 1.3em;
    font-weight: normal;
}
.que .formulation {
    background: none;
    border: none;
    color: #3a87ad;
    color: #666;
    border-radius: 0px;
}
.que .qtext {
    font-size: 1.8em;
    line-height: 30px;
}
.prompt {
    margin-bottom: 15px
}
.path-mod-quiz .othernav a {
    display: none
}
.path-mod-quiz .qnbutton {
    font-weight: normal;
    text-decoration: none;
    background: #fff;
    font-size: 1.6em;
}
.path-mod-quiz .qnbutton.thispage .thispageholder {
    border: none
}
.path-mod-quiz .qnbutton.notanswered,
.path-mod-quiz .qnbutton.incorrect {
    background-color: #f76c59;
    color: #fff;
}
.path-mod-quiz .qnbutton.notanswered a,
.path-mod-quiz .qnbutton.incorrect a {
    color: #fff
}
.path-mod-quiz .qnbutton.answered,
.path-mod-quiz .qnbutton.correct {
    background-color: #5cb85c;
    color: #fff;
}
.path-mod-quiz .qnbutton.answered a,
.path-mod-quiz .qnbutton.correct a {
    color: #fff
}
/* Shows answered/unanswered */

.state {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
}
table.quizreviewsummary th.cell {
    padding: 10px;
    font-weight: normal;
    text-align: left;
    border: none;
    background: none;
}
table.quizreviewsummary td.cell {
    text-align: left;
    background: none;
    border: none;
}
table.quizreviewsummary tbody>tr:nth-child(odd)>th {
    background: none
}
table.quizreviewsummary tbody>tr:nth-child(odd)>td {
    background: none
}
.path-mod-quiz .othernav input {
    display: block;
    background: #272f38;
    font-size: 1.6em;
    padding: 15px;
    color: #fff;
    text-shadow: none;
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}
#page-mod-quiz-attempt .submitbtns input[type="submit"],
#page-mod-quiz-review .submitbtns input[type="submit"] {
    display: block;
    background: #272f38;
    font-size: 1.6em;
    padding: 15px 0px 15px 0px;
    color: #fff;
    text-shadow: none;
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}
/* Confirmation message for quiz */

.moodle-dialogue-confirm .confirmation-message {
    margin: .5em 1em;
    border: 1px solid #cdcdcd;
    padding: 50px;
    font-size: 1.3em;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
/* Adds new multi-choice style similar to choice activity - tick boxes on radio buttons */
/* First we hide the label */

body#page-mod-quiz-attempt input[type="radio"]:empty {
    display: none
}
/* Then we make some room for the new check box */

body#page-mod-quiz-attempt input[type="radio"]~label {
    position: relative;
    line-height: 3.5em;
    cursor: pointer;
    padding-left: 75px;
    font-weight: bold;
}
/* This is the radio box when not selected */

body#page-mod-quiz-attempt input[type="radio"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 10;
    height: 45px;
    content: '';
    width: 2.5em;
    background: #fff;
    border: 1px dashed #cdcdcd;
    margin-left: 0px;
}
/* The radio box when selected */

body#page-mod-quiz-attempt input[type="radio"]:checked ~ label:before {
    content: '✔';
    text-indent: .9em;
    color: #fff;
    background-color: #272f38;
    margin-left: 0px;
}