@font-face{
    
    
   
    
    
    
    
    
    font-family:dearjoe3;
    src:url([[font:theme|dearjoe3.eot]]);
    src:url([[font:theme|dearjoe3.eot]]) format('embedded-opentype'),
        url([[font:theme|dearjoe3.woff2]]) format('woff2'),
        url([[font:theme|dearjoe3.woff]]) format('woff'),
        url([[font:theme|dearjoe3.ttf]]) format('truetype'),
        url([[font:theme|dearjoe3.svg]]) format('svg');
    }

html,body {
    margin: 0;
    padding: 0;
    background: #fff;
    background-size: 100% auto;
    color: #444;
    font-size: 95%;
    
}

/* background: #f1eee7 url([[pix:theme|bkg]]) no-repeat 100% 0; */
html,body,p,ul,ol,dl,input,textarea {
    font-family: sans-serif;
}

h1, h2, h3, h4, , h6 {
    margin: 0px 0px 10px;
    font-family: 'dearjoe3', sans-serif;
}


.flex-caption h3 {
     font-family: 'dearjoe3', sans-serif;
}

/*link colors */
a:link,
a:visited, .tabtree .tabrow0 li a, .dropdown-menu.usermen > li > a  {
    color: #002f67;
    text-decoration: none;
}

a:hover,
a:active {
    color: [[setting:linkhover]];
    text-decoration: underline;
}

a:active {
    outline: 0;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    background: [[setting:megamenuhoverbgcolor]];
    color: #fff;
    background: [[setting:megamenuhoverbgcolor]] url([[pix:theme|menuselector]]) no-repeat 100% 0; 
    background-position: center top;
    color: #fff;
    text-decoration:none;
}
/* Custom CSS
-------------------------*/
/* real main headings */
#page-content {
    padding: 0 0px 20px;
    width: auto;
}

.sitetopic h2 {
    font-size: 2.291em;
    color: #5f588a;
    font-weight: bold;
}

.headingblock, h2.main, #site-news-forum h2, #frontpage-course-list h2, #frontpage-category-names h2, #frontpage-category-combo h2, .course_category_tree .category > .info > .categoryname {
  color: #333;
  font-size: 24px;
  border-bottom: 0px solid #eee;
  font-weight: bold;
  margin-bottom: 20px;
}

#nologo, #nologo a, .generalbox h2, h3.sectionname, div.tabtree li.selected a span, .forumpost .subject, .blog_entry div.subject a, h2.headingblock, h2.main, h3.main, h2.main a, h3.main a, div.loginpanel h2, div.signuppanel h2 {
   font-weight: bold;
}



#page {
    clear: both;
    margin: 0 0;
    padding: 0 0;
    max-width: inherit;
}

#page-header-wrapper {
    background: #fff;
    width: 100%;
    z-index: 2;
}

#above-header {
	border-bottom: 1px solid [[setting:dividingline]];
        height: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    background: [[setting:maincolor]];
}

#above-header .container {
	position: relative;
}

#above-header .headermenu, #above-header .headermenu a {
	color: #fff;
}

#above-header .headermenu .dropdown-menu,#above-header .headermenu .dropdown-menu a {
	color: [[setting:linkcolor]];
}

.headerlogin {
    margin-right: 20px;
    margin-top:20px;
}


body#page-login-index .headerlogin {
    display:none;
}


#page-header {
 width:100%;   
}

#page-header {
	border-bottom: 0px solid [[setting:maincolor]];
	clear: both;
	margin-bottom: 0px;
	background: transparent;
	padding-top: 20px;
	min-height: 82px;
}

#logo {
    float: left;
    margin-bottom: 2px;
    margin-left: 20px;
    margin-top: 0px;
    max-width: 250px;
}

#moodlelogo {
	padding-top: 20px;
}

#logomoodle {
	display: block;
    margin-bottom: 6px;
    margin-left: 0px;
}

#coursetitle {
	color: #fff;
    font-size: 18px;
    line-height: normal;
    font-weight: normal;
    padding-left: 15px;
    padding-top: 32px;
    max-width: 35%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#coursesearchbox2 {
	border-radius: 0;
    box-shadow: none;
    min-width: 240px;
    padding: 8px 10px 5px;
    width: auto;
    background: #fff url([[pix:theme|search2]]) no-repeat 98% 50%;
}

#coursesearch2 {
	padding-top: 23px;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	#coursesearchbox2 {
		min-width: 140px;
		margin-top: 5px;
	}
}

.headermenu {
	float: right;
	padding-top: 0px;
	padding-right: 0px;
	font-size: 12px;
	color: #ccc;
	text-align: right;
}

.headermenu span.fa.fa-angle-down {
    font-size: 13px;
    padding-left: 5px;
}

a.usermendrop {
	font-size: 1.4em;
    cursor:pointer;
}

#page-header .userimg {
    float: right;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 15px;
}

.usermenu2.nav {
	margin-bottom: 0px;
	color: #fff;
	font-size: 12px;
	padding-left: 10px;
}

.usermenu2.nav a.dropdown-toggle {
	color: #fff;
}

.usermenu2 .fa.fa-comments {
	padding-right: 3px;
}

#messagebubble {
    background: red;
    border-radius: 10px;
    display: block;
    font-size: 0.7em;
    line-height: 1.2em;
    padding: 3.5px 5px 1px;
    position: absolute;
    right: -14px;
    text-align: center;
    top: -3px;
}





.slidewrap {
	margin-top: 0px;
	margin-bottom: 0px;
}



.container.slidewrap {
   
    width: 100%;
}

#marketblocks {
	margin-bottom: 20px;
	overflow: hidden;
}

#marketblocks .span4 {
	overflow: hidden;
}

#marketblocks .internalmarket {
	padding: 10px 15px 30px;
	text-align: center;
	border: 1px solid #e8eaeb;
	border-top: 0px;
	background-color: #fafafa;
}

.marketimage {
	display: block;
	width: 100%;
	border: 0px;
}

#marketblocks h3 {
	color: #333;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	margin-bottom: 30px;
}

#themessage {
	background: #f3f3f3;
	position: relative;
	margin-bottom: 20px;
}

#themessage-internal {
	padding: 15px;
	padding-right: 25px;
}

#themessage .span10 {
	color: #666;
    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
    padding-right: 30px;
    padding-top: 10px;
}

.personpic {
	text-align: center;
}

#person img {
	border: 6px solid #fff;
	max-width: 130px;
	display: block;
	margin: 0 auto;
}

.persontitle {
	padding-top: 40px;
}

span.fa-chevron-right.fa {
	font-size: 10px;
}

#themessage .submit {
    clear: both;
    display: block;
    float: right;
    margin: 10px 0 0;
}

#theinfo {
	background: #333;
	margin-bottom: 20px;
}

#theinfo-internal {
	padding: 15px 25px;
	color: #fff;
	font-size: 16px;
}

#theinfo h4 {
	font-weight: 700;
	font-size: 24px;
}

#theinfo .span3 {
	text-align: right;
	padding-top: 35px;
}

#page-footer {
	 background: #fff url([[pix:theme|footerborder]]) repeat-x;
	margin: 10px 0px 0;
   	text-align: left;
   	
   	border-top: 0px;
   	font-size: 110%;
}

#page-footer a{
    color:#272f38;
}

#page-footer .block-list > li {
    padding: 0.3em 0;
}

.block-list > li {
    line-height: 1.2;
}

.white li a, .base-tabs a.white, .block-list a.white {
    color: #fff;
}

#page-footer li a span + span {
    color: #abb5bf;
    padding-left: 5px;
}

.fa.fa-chevron-right.icon-right-open-mini {
    font-size: 10px;
}


#page-footer .block-list > li a {
    padding: 0;
}

#page-footer #social-connect li {
    float: left;
    padding-right: 0.9em;
    display: block;
    width: 30px;
    height: 30px;
}

#page-footer #social-connect li a span {
    color: #abb5bf;
    font-size: 2em;
}

.screen-reader-text {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

.clear {
	clear: both;
}

.breadcrumb {
	background-color: transparent;
	border-radius: 0px;
	padding: 5px;
}

#page-footer .logininfo {
    margin: 0px auto 0px;
    font-size: 90%;
    width: auto;
}

#page-footer .info {
    line-height: 21px;
    margin: 0 auto;
    margin-top: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 90%;
    border-top: solid 4px #e4e4e4;
   
}

.copyright {
	float: left;
}

.info nav ul li {
    border: medium none;
    display: inline-block;
    float: left;
}

.mrl, .mhl, .mal {
    margin-right: 20px !important;
}
.mtm, .mvm, .mam {
    margin-top: 10px !important;
}

.info nav ul li a {
    border-right: 1px solid #666;
    margin: auto;
    padding: 0.1em .8em;
}

#page-footer ol, #page-footer ul {
    list-style: none outside none;
    margin: 0 0;
}

div#intro div.no-overflow{
    background-color: [[setting:calloutbgcolor]];
    color: #fff;
    padding:20px;
}

div#intro:after {
    content: " ";
    
     background: [[setting:calloutbgcolor]] url([[pix:theme|newgroove]]) no-repeat 100% 0;
    background-position: center top;
    
    
    height: 19px;
    width: 100%;
    display: block;
    left: 0px;
}




#page-navbar {
	background: none;
	margin: 10px 0px;
}

.breadcrumb {
	padding: 0px 0px 0px;
	margin: 0 0;
}

.breadcrumb li {
	height: 35px;
	background: [[setting:breadcrumb]];
}

.breadcrumb li.lastli {
    background: none;
}

.breadcrumb li.lastli a span {
	display: none !important;
}

.breadcrumb li a, .breadcrumb li.lastli span, .breadcrumb li span.spnlink {
    display: inline-block;
    height: 26px;
    padding: 9px 8px 0 25px;
    position: relative;
    color: #000;
    text-shadow: none;
    font-size: 13px;
    text-decoration: none !important;
}

.breadcrumb li.lastli a, .breadcrumb li.lastli span {
	color: #555;
}

.breadcrumb li a.firstli {
	color: #fff;
    padding-left: 15px;
    padding-right: 20px;
}

.breadcrumb li span.divider  {
	display: none !important;
}

.arrow-top {
    border-bottom: 18px solid transparent;
    border-left: 17px solid [[setting:breadcrumb]];
    border-top: 17px solid transparent;
    height: 0;
    position: absolute;
    right: -17px;
    top: 0;
    width: 0;
    z-index: 1;
}

.arrow-bottom {
    border-bottom: 18px solid transparent;
    border-left: 17px solid #fff;
    border-top: 17px solid transparent;
    height: 0;
    position: absolute;
    right: -18px;
    top: 0;
    width: 0;
}

#notice,
.redirectmessage2 {
    text-align: center;
    border-color: #e5e5e5;
    padding: 5px;
}

.pagelayout-redirect #content {
	width:60%; background: #fff; margin: 20px auto; padding: 1em;
	border: 1px solid #dadada;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

div.redirectmessage {
    width: 60%;
    margin: 10px auto 0 auto;
    border: 0px solid transparent;
    font-size: 13px;
    background: #fff url([[pix:theme|ajax-loader]]) no-repeat 50% 95%;
    padding: 20px 20px 40px;
}

#forummenu select {
    margin-top: 10px;
    width: 100%;
}

#page-grade-export-xls-index #region-main table {
    display: block;
    overflow: auto;
    width: 100%;
}

#notice,
.redirectmessage2 {
    text-align: center;
    border-color: #e5e5e5;
    padding: 5px;
}

.pagelayout-redirect #page-content {
    margin: 20px auto 0;
    text-align: center;
    width: 80%;
}

.pagelayout-redirect #page {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: none;
    max-width: inherit;
    padding: 0;
}

#page-mod-forum-post #id_subject {
    width: 96%;
}

#plugins-control-panel, #admindeviceselector {
	display: block;
	overflow: auto;
}

#admindeviceselector .cell img {
	max-width: 420px;
}

span2.mceEditor iframe, table.mceLayout2 iframe {
    max-width:500px !important;
}

.form-item .form-label, .mform .fitem div.fitemtitle, .userprofile dl.list dt, .form-horizontal .control-label {
    width: auto;
}
.form-item .form-label, .mform .fitem div.fitemtitle {
    float: none;
}

.form-item .form-setting, .form-item .form-description, .mform .fitem .felement, #page-mod-forum-search .c1, .mform .fdescription.required, .userprofile dl.list dd, .form-horizontal .controls {
    margin-left: 0;
}

.form-item .form-label, .mform .fitem div.fitemtitle {
	text-align: left;
}

#region-main #coursesearch .btn {
	margin-top: 10px;
}

@media (max-width: 990px) {
    .navbar {
            float: none !important;
    }
    .navbar .pull-right {
            float: none;
    }
    .flex-direction-nav .flex-next {
            right: 0px !important;
    }
    .flex-direction-nav .flex-prev {
            left: 0px !important;
    }
    .coursebox .panel-body p {
        font-size: 90%;
        line-height: 130%;
    }
    .enrolmenticons {
        display: none;
    }
}

@media (max-width: 768px) {
    #region-main {
        padding: 0px 15px;
    }
    #logo {
        margin-bottom: 10px;
    }
    
    
    
    

    .headermenu2 {
        float: none;
        padding: 10px 0px 0px;
        text-align: center;
        clear: both;
    }
    .flex-caption {
        width: 100% !important;
        padding: 5px 0px !important;
        font-size: 90% !important;
    }
    .flex-caption p {
        font-size: 90% !important;
        margin: 0px 5px !important;
        margin-bottom: 5px !important;
        line-height: 1.4em;
    }
    .flex-caption h3 {
        font-size: 1.1em !important;
        line-height: 2em;
        margin: 0px 5px !important;
    }

    a.submit {
        width: 80%;
        display: block;
        margin: 5px auto;
        text-align: center;
    }

    .block .header {
        margin: 0px 10px !important;
    }
    #page-footer {
        margin: 50px 0px 0px;
    }
    
    
    
    
    
    

    div.navbar {
        margin-left: auto;
    }

    #social-connect, div.left-col.size2of16.span2 {
        clear: both;
        float: none;
        width: auto;
    }

    .message .contactselector {
        float: none;
        width: auto;
    }
    .message .messagearea {
        border-left: 0 none;
        float: none;
        min-height: 200px;
        padding-left: 1%;
        width: auto;
    }
}

@media (max-width: 980px) {
     .headermenucontainer {
     display: none;
     }
               
    .headermenu {
    text-align:center;
    float:none;
               }
               

    }




@media (max-width: 1100px) {
#search-1 {
    font-size:12px;
    width: 120px;
   
}
}
    
   .flex-caption {
    background-color: [[setting:calloutbgcolor]];
    color: #fff;
    margin: 0;
    padding: 5px 3px 0px 15px;
    position: absolute;
    top: 30px;
    left: 20px;
}
    #page-content {
        padding: 0 0px;
        width: auto;
    }
    #page-header .userimg {
        display: none;
    }

    #coursesearchbox2 {
        display: none;
    }
}

#id_message_tbl {
	width: 98%;
}

.pull-left .usermenu2 .dropdown-menu {
	margin: 0 0;
}

.pull-left .usermenu2.nav {
	position: relative;
	color: #fff;
}

.pull-left .usermenu2.nav a {
	color: #fff;
}

.pull-left .usermenu2.nav .dropdown-menu a {
	color: #333;
}

#contactdetails a {
	color: #fff !important;
}

.submit {
	white-space: nowrap;
}

a.carousel-control {
	color: #fff;
	line-height: 38px;
}

/*alert message */
.customalert {
    background: [[setting:customalertbg]];
    font-weight: 600;
    padding: 8px 0px;
    font-size: 13px;
    color: #be1e2d;
    border-bottom: 1px solid #272f38;
    text-align: center;
    color: #fff;
}

.customalert a {
	color:#fff;
}

.customalert p {
	margin: 0 0;
 	padding: 0 0;
}

.navbar .singlebutton, .navbar input, .navbar .singlebutton div, .path-mod-data .navbar form {
	margin: 0 0;
}

.navbar .singlebutton input {
   margin-top: 3px;
   padding: 4px 15px;
   margin-left: 5px;
}

.navbar .forumsearch, .navbar #coursesearchnavbar, .navbar .wikisearch {
	display: none;
}


body#page-login-index #page-navbar {
    display: none;
   
}

body#page-my-index #page-navbar {
     display: none;
}


.nav-tabs > li > a {
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: @baseLineHeight;
  border: 1px solid #ddd;
  .border-radius(4px 4px 0 0);
  &:hover,
  &:focus {
    border-color: @grayLighter @grayLighter #ddd;
  }
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #fff;
  background-color: [[setting:megamenuhoverbgcolor]];
  border: 1px solid [[setting:megamenuhoverbgcolor]];
  border-bottom-color: transparent;
  cursor: default;
}

/* Use the width of the content in modal to set size, instead of predefined sizes */

.modal-backdrop {
	z-index: 998;
}

.modal {
    z-index: 999;
    display: none;
}

#page-navbar .breadcrumb-button {
	display: inline;
}

#gridshadebox_content ul.gtopics {
	margin: 12px 1px 0px 1px;
}

.user-enroller-panel {
	z-index: 2;
}

.dropdown-menu {
    z-index: 9000;
}

#gridshadebox_content {
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	min-height: 200px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

/* Add midding bootstrap modal box classes */

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}

.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}

#region-main .generaltable {
    display: block;
    overflow-x: auto;
    overflow-y: visible;
}

div.no-overflow, .yui3-datatable {
    overflow-y: visible;
    overflow-x: auto;
}

.paging {
    word-wrap: break-word;
}

.path-course-view .completionprogress {
	z-index: 2;
}

/* Classes for new search box */

.searchbox {
	float: right;
	padding-top: 0px;
   text-align:center;
    padding-right: 20px;
}

.searchbox a {
 text-decoration: none;   
}

.searchbox img {
    border-radius: 150%;
    border: 3px solid #fff;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.searchbox ul li.first:hover {
    background: #fff;
    color: #000;
}


.searchbox li.first:before {
    content: "\f0d7";
    font-family: FontAwesome;
}

.searchbox ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
 
}
.searchbox ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.searchbox ul li:hover {
  background: [[setting:megamenuhoverbgcolor]];
  color: #fff;
}
.searchbox ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
.searchbox ul li ul li { 
  background: [[setting:maincolor]]; 
  display: block; 
  color: #fff;
  
     z-index:9999;
}
.searchbox ul li ul li:hover { background: [[setting:megamenuhoverbgcolor]]; }
.searchbox ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}




.greybox {
	border: 1px solid #ccc;
}

.search-box__input {
	width: 280px;
}

.search-box__button {
	width: 27px;
	height: 27px;
	margin: 1px !important;
	-webkit-transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}

.search-box__button:hover {
	background-color: #00adef;
	color: #fff !important;
}

.search-box {
	float: right;
}



.bg-white {
	background: #fff;
}

.pas {
	padding: 5px;
}

.no-border {
	border: 0 !important;
	border-radius: 0px !important;
	-webkit-box-shadow: 0px !important;
}

#search-1 {
	padding: 7px 3px 7px 10px;
	margin: 0 !important;
	font-size: 14px;
	color: #444;
    border-radius: 20px;
}

#search-1:focus {
	border: 1px solid #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.icon-search {
	font-size: 1.4em;
}

@media (max-width: 979px) {
	.searchbox {
          
	}
	.search-box, .searchbox {
            width: 100%;
	}
	#search-1 {
            width: calc(100% - 39px);
        font-size:10px;
	}

        div#coursetitle {
	    clear: both;
	    float: none;
	    max-width: inherit;
	    padding: 10px;
	    text-align: center;
	    width: auto;
	    margin-bottom: -25px;
	}
}

@media (min-width: 767px) {
	.userprofile dl.list dt {
		width: 110px !important;
	}

	.userprofile dl.list dd {
		margin-left: 120px !important;
	}
}

@media (max-width: 1345px) {
    .zoomdesc, .langdesc {
            display: none;
    }
}

@media (max-width: 979px) {
    .langdesc {
        display: inline;
    }
}



div.questionbankwindow.block {
	overflow: auto;
}

/* End classes for search box */

#region-main, .container {
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}

#block-region-side-post {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.nav .dropdown-menu li a i, .nav li a i {
	padding-right: 5px;
}

.fselect #id_courses {
	width: 100% !important;
}

.moodlewidth, .moodlezoom {
	padding-right: 2px !important;
	padding-left: 2px !important;
}

#edittingbutton {
	padding-right: 10px;
}

.collapsibleregioncaption {
	text-decoration: underline;
	cursor: pointer;
}

.overview .name a {
    text-decoration: underline;
}

/* Renderer temporary changes */
.coursebox.panel.hover .panel-heading {
	display: none;
}

.cimbox {
	height: 175px;
	position: relative;
	margin-right: -1px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.coursebox-content {
	padding: 1px 1px 1px 1px;
	text-align: center;
    
}

.coursebox.hover .summary {
	min-height: 50px;
	overflow: auto;
	position: absolute;
	text-align: center;
	color: [[setting:rendereroverlayfontcolour]] !important;
	padding: 15px;
	top: 40px;
	left: 0px;
	display: none;
}

.go {
    
    margin-left: 10px;
    margin-right: 10px;
    margin-top:20px;
   
}

.go a {
 color:#fff; 
  
    padding:5px 15px 5px 15px;
   font-family: 'dearjoe3';
    font-size:1.4em;
}

.coursebox.panel.hover .panel-body:hover .coursebox-content h3 a {
	color: #fff;
}

.coursebox.panel .panel-body .coursebox-content h3 a {
	color: #fff;
}

.coursebox.hover .teachers li a, .coursebox.hover .summary > a:link, .coursebox.hover .summary > a:visited {
	color: [[setting:rendereroverlayfontcolour]] !important;
}

.coursebox.hover .teachers {
	text-align: left;
	padding-top: 2px;
	padding-left: 2px;
}

.coursebox.hover:hover .summary {
	height: auto;
	width: auto;
	min-width: 90%;
	min-height: 50px;
	display: block;
}

.coursebox.panel.hover .panel-body:hover {
	background: [[setting:rendereroverlaycolour]] !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.coursebox.panel .panel-body:hover .cimbox {
	opacity: .3;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.panel.hover .coursebtn.submit.btn {
	float: none;
	display: block;
	width: 90%;
	margin: 0px auto 15px;
	padding-left: 0px;
	padding-right: 0px;
	border: 1px solid #eee !important;
	box-shadow: none;
	font-weight: 300;
	position: inherit;
}

.coursebox.panel.hover {
	height: 100%;
}

.coursebox.panel.hover .panel-body .coursebox-content h3 {
display:none;
}

.coursebox.hover .boxfooter {
	clear: none;
	margin-bottom: 0;
}

.coursebox .content .courseimage img {
	max-width: 300px;
}


.panel-body {
    vertical-align:middle;
}

.panel-body h3 {
    font-family: verdana;
    text-align: center;
    font-size: 0.8em;
   background: [[setting:maincolor]];
    margin: 0px;
    color: #fff;
    line-height: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 30px;
    vertical-align:middle;
}

.paging .paging-morelink {
    clear: both;
}

.dir-rtl.path-mod-forum .indent {
    margin-right: 3%;
    margin-left: 0;
}

.path-mod-forum .indent {
    margin-left: 3%;
}

.gradingform_guide.editor .addcriterion input,
.gradingform_guide.editor .addcomment input {background: #00aeef; display:block;font-weight:bold;text-decoration:none;}
.gradingform_guide.editor .criterion .controls .delete input {width:20px;height:16px;background: transparent url([[pix:t/delete]]) no-repeat center top;margin-top:4px;}
.gradingform_guide.editor .moveup input {width:20px;height:15px;background: transparent url([[pix:t/up]]) no-repeat center top;margin-top:4px;}
.gradingform_guide.editor .movedown input {width:20px;height:15px;background: transparent url([[pix:t/down]]) no-repeat center top;margin-top:4px;}

.gradingform_guide.editor .moveup input:hover {
    background: #00aeef url([[pix:t/up]]) no-repeat center top;
}

.gradingform_guide.editor .movedown input:hover {
    background: #00aeef url([[pix:t/up]]) no-repeat center top;
}

.gradingform_guide.editor .controls .delete input:hover {
    background: #00aeef url([[pix:t/up]]) no-repeat center top;
}

.gradingform_guide.editor .addcriterion input, .gradingform_guide.editor .addcomment input {
    padding-left: 10px;
    line-height: 20px;
    height: 36px;
    background-position: 5px 12px;
    color: #FFF;
    font-weight: normal;
}

.gradingform_guide.editor .addcomment, .gradingform_guide.editor .addcriterion {
    margin-top: 10px;
}

.footer-inner .pull-right {
    text-align: right;
}

#page-footer .validators, #page-footer .purgecaches, #page-footer .performanceinfo, #page-footer #load {
    text-align: right;
}

#load {
    float: right;
}

.purgecaches {
    clear: both;
}

#page-footer .performanceinfo {
    margin: 10px 0;
}

.purgecaches a:link {
    color: #FFF;
}

.helplink {
    text-align: center;
}

.helplink>a {
    color: #FFF;
}

	.navbar.yamm {
   background: [[setting:maincolor]];
}

.container.yambar {
    
   background: [[setting:maincolor]];
    margin-top: 15px;
    width: 100%;
    
}

.yamm-content {
    padding: 15px;
    min-width:250px;
    background:[[setting:megamenuhoverbgcolor]];
    color:#fff;
}

.yamm-content h1,h2,h3,h4,h5,h6{
    font-family: 'dearjoe3';
}





div#frontpage-course-list h2 {
    display: none;
}

aside#block-region-side-post {
    background: #e5e5e3;
}

.nav_search_box {
 padding-top:3px;
 margin-right: 10px;
    margin-left:20px;
   
} 



.nav_search_box input[type="text"]+button {
 margin-top: 10px;  
    float:none;
    margin-left: -50px;
    background: #fff;
    border: none;
    box-shadow: none;
    color: #000;
}

@media (max-width: 979px) {
.nav_search_box input[type="text"]+button {
 margin-top: 5px;
    
   
   
}
    
    .nav_search_box {
max-width:260px;
   
} 
    
}



.headermenubox {
    
    float: left;
    margin-top: 15px;
    margin-right: 20px;
}

.headermenuimg {
   margin-right:30px;
    float: right;
    margin-top:5px;
}

.headermenuimg img{
   border-radius: 150%;
    border:3px solid #fff;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.fa-search:before {
 color:#000;   
}


@media (max-width: 979px) {
.navbar .nav-collapse.in {
    border-top: none;
    overflow:visible;
}
}



@media (max-width: 768px) {
#page-footer {
    text-align:center;
}
    
}


body#page-calendar-view .calendarmonth th {
   background: [[setting:maincolor]];
    color:#fff;
    padding-top:5px;
    padding-bottom:5px;
}




#page-course-index-category .generalbox.info div.no-overflow {

    background-color: [[setting:calloutbgcolor]];
    color: #fff;
    padding: 20px;
}



#page-course-index-category .generalbox.info:after {
    content: " ";
     background: [[setting:calloutbgcolor]] url([[pix:theme|newgroove]]) no-repeat 100% 0;
    background-position: center top;
    height: 19px;
    width: 100%;
    display: block;
    left: 0px;
    margin-top:-1px;
}

#page-course-index-category .generalbox.info {
    margin-bottom: 0px;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 0px;
}

#page-course-index-category .singlebutton {
    margin-top: 20px;
}



.singleselect label {
    margin-right: .3em;
    font-family: 'dearjoe3', sans-serif;
    font-size: 1.8em;
    line-height:45px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.yamm-content a {
    
  
    padding:10px;    
    display:block;
   color:#fff;
     background: [[setting:megamenuhoverbgcolor]];
}

.yamm-content a:hover {
   background: #49c7db;
   
}


.paging {
    
    color: #000;
}

.paging a {
    background: none;
   color: [[setting:maincolor]];
    border:none;
}

span.helptooltip a {
    background: none;
    border: none;
}

label {
    color: #000;
}


th.entryheader {
    color: #000;
}

.path-mod-glossary .glossarypost td.picture a {
    background: none;
    border: none;
}

img.userpicture.defaultuserpic {
     
    border-radius: 150%;
    border: 3px solid #fff;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    width:25px;
    height:25px;

}
    
    img.userpicture {
    border-radius: 150%;
    border: 3px solid #fff;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    width:25px;
    height:25px;
}

.jsenabled .comment-link {
    
    color: #000;
}

.comment-area .fd a {
    
    color: #000;
}




.nav {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  background: [[setting:maincolor]];

}
/* line 38, ../sass/Megadropdown.scss */
.nav.shadow {
 
}
/* line 44, ../sass/Megadropdown.scss */
.nav li {
  list-style: none;
}
/* line 46, ../sass/Megadropdown.scss */
.nav li.nav-right {
  float: right;
}


@media (max-width: 980px) {
.nav li.nav-right {
 padding-right:30px;
}
}


/* line 50, ../sass/Megadropdown.scss */
.nav > li {
  padding: 0;
  float: left;
  position: relative;
}
/* line 52, ../sass/Megadropdown.scss */
.nav > li > a {
  float: left;
  color: #fff;

  text-decoration: none;
  

  margin-right: 1px;
 
 
}
/* line 64, ../sass/Megadropdown.scss */
.nav > li > a:last-of-type {
  margin-right: 0;
}

/* the mega menu contianer div for each item */
.nav > li > div {
  position: absolute;
  left: 0;
  top: 56px;
  display: none;
  background: [[setting:megamenuhoverbgcolor]];
  padding: 10px;
  color:#fff;
  overflow: hidden;
  z-index: 99999;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(66,65,66,1);
-moz-box-shadow: 10px 10px 5px -8px rgba(66,65,66,1);
box-shadow: 10px 10px 5px -8px rgba(66,65,66,1);
}



/* line 79, ../sass/Megadropdown.scss */
.nav > li > div ul {
  margin: 0;
  padding: 0;
}
/* line 82, ../sass/Megadropdown.scss */
.nav > li > div ul li a {
  font-weight:bold;
  color: #FFF;
  text-decoration: none;
  padding: 9px 12px;
  margin-bottom: 2px;
  margin-right: 2px;
  display: block;
}
/* line 93, ../sass/Megadropdown.scss */
.nav > li > div ul li a:hover {
  background: [[setting:megamenuhoverlicolor]];
  color: #fff;
    text-decoration: none;
}
/* line 102, ../sass/Megadropdown.scss */
.nav > li > div p {
  color: #fff;
}
/* line 103, ../sass/Megadropdown.scss */
.nav > li > div .right {
  right: 0;
  left: auto;
}
/* line 108, ../sass/Megadropdown.scss */
.nav > li:hover > a {
  background: white;
  color: black;
 
  background-size: 100%;
 
}
/* line 125, ../sass/Megadropdown.scss */
.nav > li:first-child > a {
  border-left: 0;
}
/* line 128, ../sass/Megadropdown.scss */
.nav > li:last-child > a {
  border-right: 0;
}

/* line 138, ../sass/Megadropdown.scss */
.nav.nojs > li:hover > a {
  background: #f8f8f8;
  color: #222;
 
  background-size: 100%;
  
}
/* line 154, ../sass/Megadropdown.scss */
.nav.nojs > li:hover div[class^="container-"] {
  display: block !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 163, ../sass/Megadropdown.scss */
.navvisfix {
  visibility: visible !important;
  opacity: 1 !important;
  display: block !important;
}

/* MEGA DROP DOWN */
/* line 172, ../sass/Megadropdown.scss */




.container-1 {
  width: 160px;
  
}
/* line 179, ../sass/Megadropdown.scss */
.container-1 .col1 {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

/* line 172, ../sass/Megadropdown.scss */
.container-2 {
  width: 350px;
}



@media (max-width: 979px) {
.container-2 {
  width: 100%;
    z-index:9000;
}
    
}

@media (max-width: 480px) {
.container-2 {
  
    z-index:10000;
}
    
}

.container-2 a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

.container-2 h1,h2,h3 {
    font-family: 'dearjoe3';
}

/* line 179, ../sass/Megadropdown.scss */
.container-2 .col1 {
  margin: 0;
  padding: 0;
  float: left;
  width: 50%;
}
/* line 179, ../sass/Megadropdown.scss */
.container-2 .col2 {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

/* line 172, ../sass/Megadropdown.scss */
.container-3 {
  width: 480px;
}
/* line 179, ../sass/Megadropdown.scss */
.container-3 .col1 {
  margin: 0;
  padding: 0;
  float: left;
  width: 33.33333%;
}
/* line 179, ../sass/Megadropdown.scss */
.container-3 .col2 {
  margin: 0;
  padding: 0;
  float: left;
  width: 66.66667%;
}
/* line 179, ../sass/Megadropdown.scss */
.container-3 .col3 {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

/* line 172, ../sass/Megadropdown.scss */
.container-4 {
  width: 640px;
}
/* line 179, ../sass/Megadropdown.scss */
.container-4 .col1 {
  margin: 0;
  padding: 0;
  float: left;
  width: 25%;
}
/* line 179, ../sass/Megadropdown.scss */
.container-4 .col2 {
  margin: 0;
  padding: 0;
  float: left;
  width: 50%;
}
/* line 179, ../sass/Megadropdown.scss */
.container-4 .col3 {
  margin: 0;
  padding: 0;
  float: left;
  width: 75%;
}
/* line 179, ../sass/Megadropdown.scss */
.container-4 .col4 {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

/* line 172, ../sass/Megadropdown.scss */
.container-5 {
  width: 800px;
}
/* line 179, ../sass/Megadropdown.scss */
.container-5 .col1 {
  margin: 0;
  padding: 0;
  float: left;
  width: 20%;
}
/* line 179, ../sass/Megadropdown.scss */
.container-5 .col2 {
  margin: 0;
  padding: 0;
  float: left;
  width: 40%;
}
/* line 179, ../sass/Megadropdown.scss */
.container-5 .col3 {
  margin: 0;
  padding: 0;
  float: left;
  width: 60%;
}
/* line 179, ../sass/Megadropdown.scss */
.container-5 .col4 {
  margin: 0;
  padding: 0;
  float: left;
  width: 80%;
}
/* line 179, ../sass/Megadropdown.scss */
.container-5 .col5 {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

nav.navigation {
    margin-left: 20px;
}

@media (max-width: 768px) {
   nav.navigation {
    margin-left: 0px;
} 
}



div#dock {
    background: [[setting:maincolor]];
    width:39px;
}

#dock .dockedtitle {
    
 border:none;
    background: none;
    color:#fff;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    
}

#dock .dockedtitle:hover {
 background: [[setting:megamenuhoverbgcolor]];
    color:#fff;
}


#dock .dockeditem_container {
    margin-top: 0px;
}


#dockeditempanel .dockeditempanel_content {
    background-color: #f5f5f5;
    width: 384px;
    border: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-left: -5px;
    
}


#dockeditempanel .dockeditempanel_hd h2 {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 1.3em;
    padding: 20px 0px 0px 0px;
    margin: 0;
    font-family: 'dearjoe3';
    color: #002f67;
}

body.has_dock #page {
    padding-left: 40px;
    padding-right: 0px; 
}

@media (max-width: 979px) {
   .mobhide {
   display:none;
} 
}

@media (max-width: 979px) {
.headerlogin {
   
    margin-left: 80px;
}
}


@media (max-width: 979px)
.nav_search_box {
   
    margin-right: 40px;
}

body#page-my-index .courseheaderbg {
   
    height: 300px;
   
}

body#page-my-index #page-content {
    
    margin-top: -160px;
    background: #fff;
}








body#page-login-index .loginpanel {
    background: rgba(255, 255, 255, 0.7);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}


div#titlewrap {
    min-height:250px; 
    border:1px solid #000;
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tileheader {
 background: [[setting:frontpageblockheadercolor]];
     color: [[setting:frontpageblocktextcolor]];
   padding-left:2px;
    padding-right:2px;
    padding-top:12px;
    padding-bottom:12px;
    text-align:center;
    font-weight:bold;
}


#tilewrap {
height: 250px;
    max-height: 250px;
}



#tilesummary {
    opacity: 0;
    -webkit-transition: none;
    height:203px;
     background: [[setting:frontpageblockhovercolor]];
    color:#fff;
    text-align:left;
    padding:5px;
}

#tilesummary:hover {
    opacity: 0.8;
    -webkit-transition: all 0.2s ease-in-out;
}



@media (max-width: 480px) {
  #tilewrap {
    height: 40px;
    max-height: 40px;
}  
    #tilesummary {
     display:none;   
    }
    
    .tileheader:hover{
    height: 40px;
    max-height: 40px;
        background: [[setting:megamenuhoverbgcolor]];
}  
    
    #marketblocks {
    margin-bottom: 10px;
     margin-left: 10px;
    margin-right: 10px;
   
}
    
    #navwrap {
   
    margin-bottom: 10px;
}
    
}

@media (max-width: 768px) {
#marketblocks {
    
    margin-top: -10px;
 
}
}

@media (max-width: 768px) {
.container.slidewrap {
    
    margin-top: -10px;
}
}

@media (max-width: 480px) {
.container.slidewrap {
    display: none;
}
}

.row {
    background-color: #fff;
}


.backgroundimg {
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#page-grade-report-grader-index aside#block-region-side-post {
    display: none;
}

div#page-content .nav {
    background: #fff;
}

div#page-content .nav>li>a {
    float: left;
    color: #fff;
    text-decoration: none;
    margin-right: 1px;
    background: [[setting:maincolor]];
    
}


div#page-content .nav>li>a:hover {
   background: [[setting:megamenuhoverbgcolor]];
}


div#page-content ul.nav.nav-tabs {
    margin-bottom: 20px;
}

div#page-content .nav-tabs>.active>a, div#page-content .nav-tabs>.active>a:hover, div#page-content .nav-tabs>.active>a:focus {
    border: 1px solid [[setting:megamenuhoverbgcolor]];
    background: [[setting:megamenuhoverbgcolor]];
}


body#page-mod-forum-search div#intro {
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}

body#page-mod-forum-search div#intro:after {
   display: none;
}

.block .header {
    padding: 0px;
   
}

body#page-badges-mybadges .box.noticebox {
    margin-top: 30px;
    margin-bottom: 30px;
}

body#page-badges-mybadges .box.boxwidthwide.boxaligncenter {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn.btn-cyan {
    background: #4bc4cd;
}

.btn.btn-orange {
    background: #f26a34;
}

.btn.btn-red {
    background: #ee2c54;
}

.btn.btn-purple {
    background: #702b82;
}

.btn.btn-blue {
    background: #123156;
}

.btn.btn-yellow {
    background: #fec211;
}


.open.atto_title_button.atto_menu .dropdown-menu>li>a:hover {
    background-image: none;
}

.dropdownlogin {
 padding-top:15px;   
}


.gridimg:hover img {
    -webkit-filter: brightness(70%);
        -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.searchbox i.fa {
    margin-right: 10px;
}

footer#page-footer h1, h2, h3, h4, h5, h6 {
    font-family: arial;
}

.teal {
     background: url([[pix:theme|brushstroke-810x120-teal]]) no-repeat;
    font-family: 'dearjoe3';
    text-align: center;
    color: #fff;
    font-size: 3em;
    line-height: 130px;
    background-size: 100%;
  
}

@media (max-width: 1200px) {
 .teal {
   font-size: 2em;  
     line-height: 100px;
        
 }
}

@media (max-width: 980px) {
 .teal {
   font-size: 1.5em;  
     line-height: 70px;
       
 }
}

@media (max-width: 580px) {
 .teal {
   font-size: 1.5em;  
     line-height: 50px;
        
 }
}


.nav_search_box input[type="text"]+button {
    background: #fff;
}




div#gridholder {
    float: left;
    width: 100%;
   
}

.gridheader {
    background: [[setting:maincolor]];
    color: #fff;
    padding: 10px;
text-align:center;
}

.gridimg {
   
    height: 200px;
    overflow-x: hidden;
    overflow-y: hidden;
  
    margin-top: -5px;
}


div#intro div.no-overflow a{
   text-decoration: underline;
    color: #fff;
   
}


div#google_translate_element {
    
   
   text-align: right;
   
}


@media (max-width: 990px) {
div#google_translate_element {
   width:100%;
    display:block;
   text-align:center;
}
}



.cyan {
     background: url([[pix:theme|brushstroke-810x120-teal]]) no-repeat;
    font-family: 'dearjoe3';
    text-align: center;
    color: #fff;
    font-size: 3em;
    line-height: 130px;
    background-size: 100%;
  
}

@media (max-width: 1200px) {
 .cyan {
   font-size: 2em;  
     line-height: 100px;
        
 }
}

@media (max-width: 980px) {
 .cyan {
   font-size: 1.5em;  
     line-height: 70px;
       
 }
}

@media (max-width: 580px) {
 .cyan {
   font-size: 1.5em;  
     line-height: 50px;
        
 }
}


.orange {
     background: url([[pix:theme|brushstroke-810x120-orange]]) no-repeat;
    font-family: 'dearjoe3';
    text-align: center;
    color: #fff;
    font-size: 3em;
    line-height: 130px;
    background-size: 100%;
  
}

@media (max-width: 1200px) {
 .orange {
   font-size: 2em;  
     line-height: 100px;
        
 }
}

@media (max-width: 980px) {
 .orange {
   font-size: 1.5em;  
     line-height: 70px;
       
 }
}

@media (max-width: 580px) {
 .orange {
   font-size: 1.5em;  
     line-height: 50px;
        
 }
}

.red {
     background: url([[pix:theme|brushstroke-810x120-red]]) no-repeat;
    font-family: 'dearjoe3';
    text-align: center;
    color: #fff;
    font-size: 3em;
    line-height: 130px;
    background-size: 100%;
  
}

@media (max-width: 1200px) {
 .red {
   font-size: 2em;  
     line-height: 100px;
        
 }
}

@media (max-width: 980px) {
 .red {
   font-size: 1.5em;  
     line-height: 70px;
       
 }
}

@media (max-width: 580px) {
 .red {
   font-size: 1.5em;  
     line-height: 50px;
        
 }
}




.purple {
     background: url([[pix:theme|brushstroke-810x120-purple]]) no-repeat;
    font-family: 'dearjoe3';
    text-align: center;
    color: #fff;
    font-size: 3em;
    line-height: 130px;
    background-size: 100%;
  
}

@media (max-width: 1200px) {
 .purple {
   font-size: 2em;  
     line-height: 100px;
        
 }
}

@media (max-width: 980px) {
 .purple {
   font-size: 1.5em;  
     line-height: 70px;
       
 }
}

@media (max-width: 580px) {
 .purple {
   font-size: 1.5em;  
     line-height: 50px;
        
 }
}




.yellow {
     background: url([[pix:theme|brushstroke-810x120-yellow]]) no-repeat;
    font-family: 'dearjoe3';
    text-align: center;
    color: #fff;
    font-size: 3em;
    line-height: 130px;
    background-size: 100%;
  
}

@media (max-width: 1200px) {
 .yellow {
   font-size: 2em;  
     line-height: 100px;
        
 }
}

@media (max-width: 980px) {
 .yellow {
   font-size: 1.5em;  
     line-height: 70px;
       
 }
}

@media (max-width: 580px) {
 .yellow {
   font-size: 1.5em;  
     line-height: 50px;
        
 }
}




.blue {
     background: url([[pix:theme|brushstroke-810x120-navy]]) no-repeat;
    font-family: 'dearjoe3';
    text-align: center;
    color: #fff;
    font-size: 3em;
    line-height: 130px;
    background-size: 100%;
  
}

@media (max-width: 1200px) {
 .blue {
   font-size: 2em;  
     line-height: 100px;
        
 }
}

@media (max-width: 980px) {
 .blue {
   font-size: 1.5em;  
     line-height: 70px;
       
 }
}

@media (max-width: 580px) {
 .blue {
   font-size: 1.5em;  
     line-height: 50px;
        
 }
}




@media (max-width: 1244px) {
.searchbox {
   
    margin-top: -20px;
}
}




/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
