#navwrap {
    clear: both;
    border-bottom: none;
}

.navbar {
    clear: none;
    float: none;
    margin-bottom: 0;
    min-width: 40%;
    margin-top: 0px;
    margin-left: -20px;
}

.navbar-inner {
    background-color: transparent;
    background-image: none;
    background-repeat: repeat-x;
    border: 0px solid #D4D4D4;
    border-radius: 0px 0px 0px 0px;
    box-shadow: none;
    min-height: 40px;
    padding-left: 0px;
    padding-right: 0px;
    filter: none;
    border-top: 0px solid #9E1B12;
    border-bottom: 0px solid #9E1B12;
    box-shadow: none;
}

.navbar .nav > li > a {
    color: #fff !important;
    line-height: 40px;
    float: none;
    padding: 0px 20px 0px;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    font-size: 1.0em;
    text-transform: none;
    border: none;
    margin-bottom: -3px;
}

.navbar .nav > li > a:hover {
    color: #3c469c;
    text-decoration: none;
   
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
    color: #fff;
}

.navbar .btn-navbar, .navbar .btn-navbar:hover, .navbar .btn-navbar:active {
    background: [[setting:megamenuhoverbgcolor]];
    
}

.nav_search_box input[type="text"]+button {
    background: [[setting:megamenuhoverbgcolor]];
}

.nav-collapse.active {
    background: #fff;
    overflow: visible;
    top: 6px;
}

.navbar .pull-right a {
    padding: 4px 15px;
    border-left: 1px solid rgba(255,255,255, .2);
}

.navbar .nav > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu:after {
    display: none;
}

.dropdown-menu {
    border: 0px solid transparent;
    border-radius: 0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    font-size: 14px;
    padding: 0px 0px;
    
}

.nav .dropdown-menu li a {
   
    font-size: 13px;
    font-weight: 400;
    padding: 6px 15px;
    
}

.navbar .nav > li > a {
    color:#fff;
    font-weight: bold;
    padding-top:8px;
    padding-bottom:8px;
    margin-bottom: 0px;
}



.navbar .nav > li > a:hover {
    background-color:[[setting:megamenuhoverbgcolor]];
    color: #fff;
    background: [[setting:megamenuhoverbgcolor]] url([[pix:theme|menuselector]]) no-repeat 100% 0; 
    background-position: center top;
    color: #fff;
}





@media (max-width: 979px) {
.nav .dropdown-menu li a:hover, .navbar .nav > li > a:hover {
    
    background-image: none; 
    
}

.nav .dropdown-menu li a:hover, .navbar .nav > li > a:focus {
     background-image: none; 
}

.nav .dropdown-menu li a:hover, .navbar .nav > li > a:active {
     background-image: none; 
}

.dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-image: none; 
}
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

@media only screen and (min-width : 768px) {
    /*on hover only for large screens*/
    .dropdown-menu .sub-menu {
        left: 100%;
        position: absolute;
        top: 0;
        visibility: hidden;
        margin-top: -1px;
    }

    .dropdown-submenu>.dropdown-menu {
        display: none;
    }

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover>.dropdown-menu {
        display: block;
    }
    /*end on hover hack */
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .nav > li:last-child > a {
	border-right: 0px !important;
}

.dropdown .fa.fa-briefcase {
	padding-right: 4px;
}

.navbar .btn, .navbar .btn-group {
	margin-top: 3px;
}

@media (max-width: 979px) {
	.hbl, .sbl, .hbll, .sbll {
            display: none !important;
	}

	#navwrap {
            border-bottom: 0;
	}

	#page-header a img {
            margin: 0 auto;
            float: none;
            display: block;
	}
}

.container-fluid {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.menutitle {
    height: 100%;
}

@media (max-width: 990px) {
    .menutitle {
        float: none;
    }
}


button.btn.btn-navbar {
    margin-top: 6px;
}






/* Main menu wrapper */
.cbp-hsmenu-wrapper {
	position: relative;
}

/* Common style for all lists */
.cbp-hsmenu-wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0px;
}

/* 100% width bar for menu */
.cbp-hsinner {
	
	position: relative;
	z-index: 9999;
}

/* Main menu style */
.cbp-hsmenu-wrapper .cbp-hsmenu {
	width: 100%;
	
	margin: 0px;
	padding: 0px;
}

.cbp-hsmenu > li {
	margin-left: -10px;
	display: inline-block;
   
}

.cbp-hsmenu > li:first-child {
	margin-left: 0;
}

/* Main menu link style */
.cbp-hsmenu > li > a {
	color: #fff;
	font-size: 1.2em;
	line-height: 3em;
	display: inline-block;
	position: relative;
	z-index: 9999;
	outline: none;
     padding-left:20px;
    padding-right:20px;
    padding-top:6px;
    padding-bottom:6px;
}

.no-touch .cbp-hsmenu > li > a:hover,
.no-touch .cbp-hsmenu > li > a:focus,
.cbp-hsmenu > li.cbp-hsitem-open > a {
	background-color:[[setting:megamenuhoverbgcolor]];
    color: #fff;
    background: [[setting:megamenuhoverbgcolor]] url([[pix:theme|menuselector]]) no-repeat 100% 0; 
    background-position: center top;
    color: #fff;
    text-decoration:none;
}







/* Submenu style */
.cbp-hssubmenu {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	z-index: 0;
	text-align: center; /* for aligning the sub items */
	visibility: hidden;
}

.cbp-hssubmenu:before, 
.cbp-hssubmenu:after { 
	content: " "; 
	display: table; 
}
.cbp-hssubmenu:after { 
	clear: both; 
}

/* Let's allow 6 item in a row */
.cbp-hssubmenu > li {
	width: 16.2%;
	display: inline-block;
	vertical-align: top;
	box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
	opacity: 0;
	-webkit-transition: opacity 0.1s 0s;
	-moz-transition: opacity 0.1s 0s;
	transition: opacity 0.1s 0s;
}

/* First 6 items don't have upper box shadow */
.cbp-hssubmenu > li:nth-child(-n+6) {
	box-shadow: -28px 0 0 -27px #ddd;
} 

/* Every 7th item does not have a left box shadow */
.cbp-hssubmenu > li:nth-child(6n+1) {
	box-shadow:  0 -28px 0 -27px #ddd;
}

/* The first one does not have any box shadow */
.cbp-hssubmenu > li:first-child {
	box-shadow: none;
}

.cbp-hssubmenu > li a {
	display: block;
	text-align: center;
	color: #a2a2a2;
	outline: none;
	padding: 2em 1em 1em 1em;
}

.no-touch .cbp-hssubmenu > li a:hover,
.no-touch .cbp-hssubmenu > li a:focus {
	color: #888;
}

.cbp-hssubmenu > li a img {
	border: none;
	outline: none;
	display: inline-block;
	margin: 0;
	max-width: 100%;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.no-touch .cbp-hssubmenu > li a:hover img {
	opacity: 0.5;
}

.cbp-hssubmenu > li a span {
	display: block;
	min-height: 3em;
	margin-top: 0.4em;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
	z-index: 9999;
	visibility: visible;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu > li {
	opacity: 1;
	-webkit-transition: opacity 0.5s 0.1s;
	-moz-transition: opacity 0.5s 0.1s;
	transition: opacity 0.5s 0.1s;
}

/* Helper div for animating the background */
.cbp-hsmenubg {
	background: #f7f7f7;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 0;
	height: 0px;
}

.no-touch .cbp-hsmenubg {
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

@media screen and (max-width: 65em){
	.cbp-hsmenu-wrapper {
		font-size: 80%;
	}
}

@media screen and (max-width: 51.4375em){
	.cbp-hsmenu-wrapper {
		font-size: 100%;
	}

	.cbp-hsmenu-wrapper .cbp-hsmenu {
		padding: 0;
		max-width: none;
		width: 100%;
	}

	.cbp-hsmenu > li {
		border-top: 1px solid rgba(255,255,255,0.5);
		text-align: center;
		margin: 0 auto;
		display: block;
	}

	.cbp-hsmenu > li:first-child {
		border-top: none;
	}

	.cbp-hsmenu > li > a {
		display: block;
	}

	.cbp-hsmenu > li > a:not(:only-child):before {
		line-height: 1.8;
		right: 0;
		position: absolute;
		font-size: 200%;
	}

	.cbp-hsmenubg {
		display: none;
	}

	.cbp-hssubmenu {
		background: #f7f7f7;
		position: relative;
		overflow: hidden;
		height: 0;
	}

	.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
		height: auto;
	}

	/* Let's only allow 3 item in a row now */
	.cbp-hssubmenu > li {
		width: 30%;
	}

	/* Reset box shadows for the 6 items in row case */
	.cbp-hssubmenu > li:nth-child(-n+6),
	.cbp-hssubmenu > li:nth-child(6n+1) {
		box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
	}

	/* First 4 items don't have upper box shadow */
	.cbp-hssubmenu > li:nth-child(-n+3) {
		box-shadow: -28px 0 0 -27px #ddd;
	} 

	/* Every 5th item does not have a left box shadow */
	.cbp-hssubmenu > li:nth-child(3n+1) {
		box-shadow:  0 -28px 0 -27px #ddd;
	}

}

@media screen and (max-width: 25em){
	/* Let's only allow 1 item in a row now */
	.cbp-hssubmenu > li {
		width: 100%;
		display: block;
	}

	.cbp-hsmenu-wrapper .cbp-hssubmenu > li {
		box-shadow: 0 1px #cecece;
		text-align: left;
	}

	.cbp-hssubmenu > li a {
		text-align: left;
		line-height: 50px;
		padding: 0.4em 1em;
	}

	.cbp-hssubmenu > li a img {
		float: left;
		max-height: 50px;
	}

	.cbp-hssubmenu > li a span {
		min-height: 0;
		margin: 0;
	}
}



.nav.nojs > li:hover > a {
 background-color:[[setting:megamenuhoverbgcolor]];
    color: #fff;
    background: [[setting:megamenuhoverbgcolor]] url([[pix:theme|menuselector]]) no-repeat 100% 0; 
    background-position: center top;
    color: #fff;
}



@media (max-width: 979px){

    

.nav.nojs > li > a {
 
    border-radius: 0px;
}  
    
    
    
    .nav.nojs > li:hover > a {
 background-color:[[setting:megamenuhoverbgcolor]];
    color: #fff;
    background: [[setting:megamenuhoverbgcolor]];
    background-position: center top;
    color: #fff;
    border-radius: 0px;
}

    
}


 
